a,
li,
body,
div {
	margin: 0px;
	padding: 0px;
	boder:0px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;	
	font-family: "微软雅黑";
	font-size: inherit;
}
 a {
	text-decoration:none;
 }
 .disc {
 	margin-top: 95px;
	text-align:center;
}
.disc a {
	color: slategray;
}
.disc a:hover {
	color: red;
}
.btn {
 	border-radius: 4px;
 	background-color: rgba(0, 0, 0, 0.08);
 	line-height:42px;
 	padding-top: 14px;
 	padding-bottom: 14px;
}
.b1 {padding-left: 41px; padding-right: 41px;}
.b2 {padding-left: 47px; padding-right: 47px;}
.b3 {padding-left: 22px; padding-right: 22px;}
li {
	display: inline-block;
	width: 120px;
	height: 42px;
	border: solid 1px;
 	border-radius: 4px;
 	overflow: hidden;
}
 
 .txt {
 	text-align: center; 	
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
/*
.clearfix::before,.clearfix::after {
	content: '.';
	display: block;
	visibility:hidden;
}
.clearfix::after {
	clear:both;
}
.clearfix {
	*zoom: 1;
}*/
